.quantity-form-field{
    max-width: 100px;
}
.example-card{
    min-height: 359px;
}
.add-item-button{
    align-items: center;
}
.add-item-div{
    width: 100%;
    text-align: center;
}
.item-images{
    min-height: 160px;
    max-height: 160px;
}