<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Pizza</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../../../assets/images/pizza1.jpg">
  <mat-card-content>
    <h1>
      Pizza : 100
    </h1>
  </mat-card-content>
  <mat-card-actions>
    <button mat-mini-fab color="primary" (click)="removeQuantity()"><mat-icon>remove</mat-icon></button> &nbsp;&nbsp;
    <mat-form-field class="quantity-form-field">
        <mat-label>Quantity</mat-label>
            <input matInput readonly="true" [(ngModel)]="quantity">
        </mat-form-field> &nbsp;&nbsp;
    <button mat-mini-fab color="primary" (click)="addQuantity()"><mat-icon>add</mat-icon></button>    
  </mat-card-actions>
</mat-card>
