.example-card {
  max-width: 300px;
  margin: 20px;
}

.example-header-image {
  background-image: url('../../../../assets/images/pizza1.jpg');
  background-size: cover;
}
//   .quantity-form-field{
//     width: 100px;
//   }