.top-nav-div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.menu-div{
    cursor: pointer;
}
.logout-div{
    cursor: pointer;
    display: flex;
}
.cart-item{
    float: left;
}