<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="top-nav-div">
            <div class="menu-div">
                <mat-icon class="menuIcon" (click)="sideToggle()" >menu</mat-icon>        
            </div>
            <div class="logout-div">
                <div class="cart-item">                    
                    <mat-icon class="menuIcon" matBadge="{{totalCartItem}}" matBadgeColor="warn" *ngIf="totalCartItem" >shopping_cart</mat-icon>&nbsp;&nbsp;&nbsp;
                    <mat-icon class="shopping-cart"  *ngIf="!totalCartItem">shopping_cart</mat-icon>&nbsp;&nbsp;&nbsp;                
                </div>
                <div>
                    <mat-icon class="menuIcon" (click)="logout()">logout</mat-icon>
                </div>
            </div>
        </div>        
    </mat-toolbar-row>
</mat-toolbar>